# Disable all rules first
--disable all

# Enable specific rules
--enable consecutiveBlankLines
--enable elseOnSameLine
--enable duplicateImports
--enable enumNamespaces
--enable spaceAroundBraces
--enable spaceAroundComments
--enable spaceAroundParens
--enable spaceInsideBraces
--enable strongOutlets
--enable todos
--enable trailingSpace
--enable wrapEnumCases
--enable wrapLoopBodies
--enable redundantSelf
--enable redundantType
--enable blankLineAfterImports
--enable blankLineAfterSwitchCase
--enable blankLinesBetweenScopes
--enable blockComments
--enable spaceInsideGenerics
--enable spaceAroundGenerics
--enable semicolons
--enable redundantVoidReturnType
--enable redundantTypedThrows
--enable redundantType
--enable redundantStaticSelf
--enable redundantProperty
--enable redundantParens
--enable redundantOptionalBinding
--enable redundantNilInit
--enable redundantLet
--enable redundantInit
--enable redundantGet
--enable redundantFileprivate
--enable redundantExtensionACL
--enable redundantClosure
--enable redundantBreak
--enable propertyTypes
--enable preferForLoop
--enable organizeDeclarations
--enable isEmpty
--enable hoistPatternLet
--enable headerFileName
--enable enumNamespaces
--enable emptyBraces
--enable consecutiveSpaces
